version: '3'

services:
  database-parkingmeters:
    image: mysql:8.0.13
    ports:
      - "3306:3306"
    environment: 
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: parking
      MYSQL_USER: parkinguser
      MYSQL_PASSWORD: parkinguser
      MYSQL_DATA_DIR: /var/lib/mysql
      MYSQL_RUN_DIR: /run/mysqld
      MYSQL_LOG_DIR: /var/log/mysql
    volumes:
      - ./scripts/parkingmeters:/docker-entrypoint-initdb.d/:ro
    networks: 
      - backend

  database-movements:
    image: mysql:8.0.13
    ports:
      - "3307:3306"
    environment: 
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: parking
      MYSQL_USER: parkinguser
      MYSQL_PASSWORD: parkinguser
      MYSQL_DATA_DIR: /var/lib/mysql
      MYSQL_RUN_DIR: /run/mysqld
      MYSQL_LOG_DIR: /var/log/mysql
    volumes:
      - ./scripts/movements:/docker-entrypoint-initdb.d/:ro
    networks: 
      - backend
  
  database-avr:
    image: mysql:8.0.13
    ports:
      - "3308:3306"
    environment: 
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: parking
      MYSQL_USER: parkinguser
      MYSQL_PASSWORD: parkinguser
      MYSQL_DATA_DIR: /var/lib/mysql
      MYSQL_RUN_DIR: /run/mysqld
      MYSQL_LOG_DIR: /var/log/mysql
    volumes:
      - ./scripts/avr:/docker-entrypoint-initdb.d/:ro
    networks: 
      - backend

  parkingmeters-service:
    build:
      context: ./ParkingMetersService
      dockerfile: Dockerfile
    working_dir: /app
    # image: chirichignoa/parkingrecommender_parkingmeters-service:latest
    ports:
      - "4567:4567"
    depends_on: 
      - database-parkingmeters
    links: 
      - database-parkingmeters
    networks: 
      - backend

  movements-service:
    build:
      context: ./MovementsService
      dockerfile: Dockerfile
    working_dir: /app
    # image: chirichignoa/parkingrecommender_movements-service:latest
    ports:
      - "4568:4568"
    depends_on: 
      - database-movements
    links:
      - database-movements
    networks: 
      - backend
    
  avr-service:
    build:
      context: ./AVRService
      dockerfile: Dockerfile
    working_dir: /app
    # image: chirichignoa/parkingrecommender_avr-service:latest
    ports:
      - "4569:4569"
    depends_on: 
      - database-avr
    links:
      - database-avr
    networks: 
      - backend

  haversine-distance-service:
    build:
      context: ./HaversineDistanceService
      dockerfile: Dockerfile
    working_dir: /app
    # image: chirichignoa/parkingrecommender_haversine-distance-service:latest
    ports:
      - "2525:2525"
    depends_on:
      - parkingmeters-service
    links:
      - parkingmeters-service
    networks: 
      - backend

  recommender-service:
    build:
      context: ./RecommenderService
      dockerfile: Dockerfile
    working_dir: /app
    #image: chirichignoa/parkingrecommender_recommender-service:latest
    ports:
      - "5000:5000"
    networks: 
      - backend

  parking-recommender-app:
    build:
      context: ./ParkingRecommender
      dockerfile: Dockerfile
    working_dir: /app
    #image: chirichignoa/parkingrecommender_parking-recommender-app:latest
    ports:
      - "4000:4000"
    depends_on:
      - recommender-service
      - parkingmeters-service
      - haversine-distance-service
    links: 
      - recommender-service
      - parkingmeters-service
      - haversine-distance-service
    networks: 
      - backend
      - frontend
      
  parking-recommender-frontend:
    build:
      context: ./ParkingRecommenderFrontend
      dockerfile: Dockerfile
    working_dir: /app
    #image: chirichignoa/parkingrecommender_parking-recommender-frontend:latest
    ports:
      - "3000:80"
    depends_on:
      - parking-recommender-app
    links: 
      - parking-recommender-app
    networks: 
      - frontend

networks:
  frontend:
  #  driver: bridge
  backend:
  #  driver: bridge