version: '3'

services:
  database:
    image: mysql:8.0.13
    ports:
      - "3306:3306"
    environment: 
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: parking
      MYSQL_USER: parkinguser
      MYSQL_PASSWORD: parkinguser
      MYSQL_DATA_DIR: /var/lib/mysql
      MYSQL_RUN_DIR: /run/mysqld
      MYSQL_LOG_DIR: /var/log/mysql
    volumes:
      - ./scripts:/docker-entrypoint-initdb.d/:ro
    networks: 
      - backend

  parkingmeters-service:
    # build:
    #   context: ./ParkingMetersService
    #   dockerfile: Dockerfile
    # working_dir: /app
    image: chirichignoa/parkingrecommender_parkingmeters-service:latest
    ports:
      - "4567:4567"
    depends_on: 
      - database
    networks: 
      - backend

  coordinate-distance-service:
    # build:
    #   context: ./CoordinateDistance
    #   dockerfile: Dockerfile
    # working_dir: /app
    image: chirichignoa/parkingrecommender_coordinate-distance-service:latest
    ports:
      - "2525:2525"
    depends_on:
      - parkingmeters-service
    networks: 
      - backend

  recommender-service:
    # build:
    #   context: ./RecommenderService
    #   dockerfile: Dockerfile
    # working_dir: /app
    image: chirichignoa/parkingrecommender_recommender-service:latest
    ports:
      - "5000:5000"
    depends_on:
      - coordinate-distance-service
    networks: 
      - backend

  frontend-module:
    # build:
    #   context: ./ParkingRecommenderFrontend
    #   dockerfile: Dockerfile
    # working_dir: /app
    image: chirichignoa/parkingrecommender_frontend-module:latest
    ports:
      - "3000:80"
    depends_on:
      - recommender-service
    links: 
      - recommender-service
    networks: 
      - frontend

networks:
  frontend:
  #  driver: bridge
  backend:
  #  driver: bridge